* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f0f8ff;
  background-position: center;
  background-size: cover;
  position: fixed;
}

section.dark {
  background: #24292d;
  color: #fff;
}

.container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.todo {
  width: 700px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  display: flex;
  flex-direction: column;
}

section.dark .todo {
  background-color: #323840;
}

.cherche {
  width: 680px;
  height: 70px;
  border-radius: 20px;
  margin: 10px 10px 0px 10px;
  display: flex;
  flex-direction: row;
}

#bt2 {
  width: 100px;
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  background-color: #f0f8ff;
  margin: 10px 10px 10px 0px;
  border: none;
}

#bt1 {
  width: 100px;
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  background-color: #f0f8ff;
  /*border: 2px solid black;*/
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

section.dark #bt1 {
  background-color: #24292d;
  color: #fff;
}

section.dark #bt2 {
  background-color: #24292d;
  color: #fff;
}

#nav {
  width: 350px;
  height: 40px;
  background-color: white;
  border-radius: 20px 0px 0px 20px;
  margin: 10px 0px 10px 0px;
  /*border: 2px solid black;*/
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

section.dark #nav {
  background-color: #323840;
  color: #fff;
}

.submit {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #f0f8ff;
  margin: 10px 10px 10px 0px;
  border: none;
}

.drk {
  width: 100px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
  background-color: #f0f8ff;
  margin: 10px 10px 10px 130px;
  border: none;
}

section.dark .drk {
  background-color: #24292d;
  color: #fff;
}

.main {
  width: 680px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
  /*display: flex;*/
  flex-direction: column;
  overflow-y: auto;
}

section.dark .main {
  background-color: #323840;
  color: #fff;
}

.todo_con {
  width: 640px;
  height: 75px;
  border-radius: 20px;
  background-color: #f0f8ff;
  margin: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-height: 75px;
}

section.dark .todo_con {
  background-color: #24292d;
}

.todo_con h3 {
  margin: 0pc 0px 0px 10px;
}

.todof {
  width: 300px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

section.dark .todof {
  background-color: #24292d;
  color: #fff;
}

.inf {
  width: 300px;
  height: 450px;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

section.dark .inf {
  background-color: #24292d;
  border: 2px solid white;
}

#titl {
  /*line-height: 30px;*/
  text-align: center;
  margin: 40px 0px 70px 0px;
}

.ulinfo {
  margin: 0px 0px 10px 30px;
}

#inf1 {
  color: #4615b9;
  margin: 0px 0px 0px 10px;
}

#inf2 {
  color: #4615b9;
  margin: 0px 0px 0px 10px;
}

#inf3 {
  color: #4615b9;
  margin: 0px 0px 0px 10px;
}

#txt {
  margin: 50px 0px 0px 10px;
  overflow: auto;
}

.navb {
  height: 50px;
  width: 300px;
  border-radius: 0px 10px 0px 0px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
}

.option {
  height: 50px;
  width: 75px;
  background-color: #fff;
  border: none;
  border-radius: 0px 0px 10px 10px;
}

section.dark .option {
  background-color: #24292d;
  color: #fff;
}
