{% extends 'base.html' %} {% block title %} Register {%endblock%} {% block head
%}
<link
  href="{{ url_for('static', filename='css/style.css')}}"
  rel="stylesheet"
/>
{% endblock %} {%block body%}

<section>
  <div class="form-box">
    <div class="form-value">
      <form method="POST">
        <h2>Register</h2>
        <div class="inputbox">
          <ion-icon name="mail-outline"></ion-icon>
          {{ form.hidden_tag() }} {{ form.name() }}
          <label for="">Name</label>
        </div>
        <div class="inputbox">
          <ion-icon name="mail-outline"></ion-icon>
          {{ form.hidden_tag() }} {{ form.email() }}
          <label for="">Email</label>
        </div>
        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          {{ form.hidden_tag() }} {{ form.password_hash() }}
          <label for="">Password</label>
        </div>
        <div class="inputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          {{ form.hidden_tag() }} {{ form.password_hash2() }}
          <label for="">password confirmation</label>
        </div>
        <div class="forget">
          <label>
            <h3>make sur that you put the right information</h3>
          </label>
        </div>
        <button>{{ form.submit(class="bt2") }}</button>
        <div class="register">
          <p>
            I already have an account <a href="{{ url_for('login') }}">login</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
