{% extends 'base.html' %} {% block title %}Flask ToDo List{% endblock %} {%
block body %}
<h1 class="mt-5 mb-4">ToDo List</h1>

{% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-info">
  {% for message in messages %} {{ message }} {% endfor %}
</div>
{% endif %} {% endwith %}

<form method="post" class="mb-3">
  {{ form.hidden_tag() }}
  <div class="form-row">
    <div class="col-md-8">
      {{ form.title(class="form-control", placeholder="Enter your task",
      autofocus=true) }}
    </div>
    <div class="col-md-4">
      {{ form.submit(class="btn btn-primary btn-block") }}
    </div>
  </div>
</form>

<ul class="list-group">
  {% for task in tasks %}
  <li class="list-group-item">
    {{ task.title }}
    <a
      href="{{ url_for('delete_task', task_id=task.id) }}"
      class="btn btn-danger btn-sm float-right"
      >Delete</a
    >
  </li>
  {% endfor %}
</ul>
{% endblock %}
