{% extends 'base.html' %} {% block title %}Flask ToDo List{% endblock %} {%
block css %}
<link
  href="{{ url_for('static', filename='css/style_add_daily.css')}}"
  rel="stylesheet"
/>{% endblock %} {% block body %}
<h1 class="mt-5 mb-4">ToDo List</h1>

{% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-info">
  {% for message in messages %} {{ message }} {% endfor %}
</div>
{% endif %} {% endwith %}
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="add">
    <h3>title</h3>
    {{ form.title(class="btnadd",placeholder="Enter your task", autofocus=true)
    }}
  </div>
  <div class="add">
    <h3>date</h3>
    {{ form.date_to_do(class="btnadd") }}
  </div>
  <div class="add">
    <h3>hour</h3>
    {{ form.hour_to_do(class="btnadd") }}
  </div>
  <div class="add">
    <h3>min</h3>
    {{ form.min_to_do(class="btnadd") }}
  </div>
  <div class="addtxt">
    <h3>title</h3>
    {{ form.text(class="btntxt") }}
  </div>
  {{ form.submit(class="btn") }}
</form>

<ul class="list-group">
  {% for task in tasks %} {% if task.id_user == current_user %}
  <li class="list-group-item">
    {{ task.title }}
    <a
      href="{{ url_for('delete_task', task_id=task.id) }}"
      class="btn btn-danger btn-sm float-right"
      >Delete</a
    >
  </li>
  {% endif %} {% endfor %}
</ul>
<script src="{{ url_for('static', filename='js/add_daily.js')}}"></script>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
{% endblock %}
