{% extends 'base.html' %}
{% block title %}
home
{%endblock%}
{% block head %}
<link href="{{ url_for('static', filename='css/style_home.css')}}" rel="stylesheet">
{%endblock%}
{% block body %}

<section>
    <div class="div3"></div>
    <div class="div2"></div>
    <div class="div1">
    <div class="container">
          <div class="icons">
             <i class="fas fa-moon"></i>
             <i class="fas fa-sun"></i>
          </div>
          <div class="time">
          <div class="time-colon">
              <div class="time-text">
                  <span class="num hour_num">08</span>
                  <span class="text">Hours</span>
              </div>
              <span class="colon">:</span>
          </div>
          <div class="time-colon">
              <div class="time-text">
                 <span class="num min_num">45</span>
                 <span class="text">Minutes</span>
              </div>
              <span class="colon">:</span>
          </div>
          <div class="time-colon">
              <div class="time-text">
                 <span class="num sec_num">06</span>
                 <span class="text">Seconds</span>
              </div>
              <span class="am_pm">AM</span>
          </div>
          </div>
    </div>
    <div class="todo">
      <div class="title_todo">
        <h3>your daily for today</h3>
      </div>
      <div class="daily">
        
        <div class="todo_con">
          <h5>post</h5>
        </div>
        
      </div>
    </div>
    </div>
  
  </section>
<a href="{{ url_for('log_out' )}}"><button>logout</button></a>
<script src="{{ url_for('static', filename='js/home.js')}}"></script>
{% endblock %}
