{% extends 'base.html' %} {% block title %} home {%endblock%} {% block head %}
<link
  href="{{ url_for('static', filename='css/style_home.css')}}"
  rel="stylesheet"
/>
{%endblock%} {% block body %}

<section>
  <div class="div3">
    <div class="navbar">
      <img
        src="{{ url_for('static', filename='photo/73dbc1990dc1243bc1c2e65358129cae.jpg')}}"
        alt="#"
        class="ph1"
      /><br />
      <a href="{{ url_for('profil') }}"><h3>{{ current_user.name }}</h3></a
      ><br />
      <a href="{{ url_for('archive') }}"
        ><button class="pro">
          <h3>
            archive <ion-icon name="albums-outline"></ion-icon>
          </h3></button></a
      ><br />
      <a href="{{ url_for('todo') }}"
        ><button class="pro">
          <h3>
            all the to do <ion-icon name="list-outline"></ion-icon>
          </h3></button></a
      ><br />
      <a href="{{ url_for('add_daily') }}"
        ><button class="pro">
          <h3>
            add daily <ion-icon name="add-circle-outline"></ion-icon>
          </h3></button></a
      ><br />
      <div class="esp"></div>
      <a href="{{ url_for('log_out' )}}">
        <button class="log_out"><h2>logout</h2></button>
      </a>
    </div>
  </div>
  <div class="div2">
    <div class="container1">
      <div class="wrapper">
        <header>
          <p class="current-date"></p>
          <div class="icons">
            <span id="prev" class="material-symbols-rounded"
              ><ion-icon name="arrow-back-outline"></ion-icon
            ></span>
            <span id="next" class="material-symbols-rounded"
              ><ion-icon name="arrow-forward-outline"></ion-icon
            ></span>
          </div>
        </header>
        <div class="calendar">
          <ul class="weeks">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li class="wend">Fri</li>
            <li class="wend">Sat</li>
          </ul>
          <ul class="days"></ul>
        </div>
      </div>
    </div>
    <div class="todo1">
      <div class="cherche">
        <form action="{{ url_for('home') }}" method="get">
          <input type="text" name="query" placeholder="Search" id="nav" />
          <input type="submit" value="Search" id="bt1" />
        </form>
      </div>
      <div class="main">
        <ul>
          {% for result in results %}{% if result.id_user == current_user.id %}
            <div
              class="todo_con1 {{ 'Highest' if result.pre == '1' else 'Medium' if result.pre == '2' else 'Normal' if result.pre == '3' else '' }}"
            >
              <h3 class="hhr">{{ result.title }}</h3>
              <a
                href="{{ url_for('delete_task', task_id=result.id) }}"
                class="dlt1"
                ><button id="dlt">Delete</button></a
              >
            </div>
            {% endif %} {% endfor %}
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="div1">
    <div class="container">
      <div class="icons" id="drk">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
      </div>
      <div class="time">
        <div class="time-colon">
          <div class="time-text">
            <span class="num hour_num">08</span>
            <span class="text">Hours</span>
          </div>
          <span class="colon">:</span>
        </div>
        <div class="time-colon">
          <div class="time-text">
            <span class="num min_num">45</span>
            <span class="text">Minutes</span>
          </div>
          <span class="colon">:</span>
        </div>
        <div class="time-colon">
          <div class="time-text">
            <span class="num sec_num">06</span>
            <span class="text">Seconds</span>
          </div>
          <span class="am_pm">AM</span>
        </div>
      </div>
    </div>
    <div class="todo">
      <div class="title_todo">
        <h3>your daily for today</h3>
      </div>
      <div class="daily">
        {% for daily in dailys %} {% if (daily.date_to_do.date() == date) and
        (daily.val== '0') %}
        <div
          class="todo_con {{ 'Highest' if daily.pre == '1' else 'Medium' if daily.pre == '2' else 'Normal' if daily.pre == '3' else '' }}"
        >
          <h3 class="ht">{{ daily.title }}</h3>
          <div class="tkc">
            <button class="do">
              <ion-icon name="checkmark-outline"></ion-icon>
              <p class="hid" id="id">{{ daily.id }}</p>
            </button>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</section>
<script src="{{ url_for('static', filename='js/home.js')}}"></script>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
{% endblock %}
{% for result in results %}{% if id_user==current_user %}
<div
  class="todo_con1 {{ 'Highest' if  result.pre == '1' else 'Medium' if  result.pre == '2' else 'Normal' if  result.pre == '3' else '' }}"
>
  <h3 class="hhr">{{ result.title }}</h3>
  <a
    href="{{ url_for('delete_task', task_id=result.id) }}"
    class="dlt1"
    ><button id="dlt">Delete</button></a
  >
</div>
{% endif %}{% endfor %}
