<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hy  in your profil</title>
  <link href="{{ url_for('static', filename='css/style_profil.css')}}" rel="stylesheet">
</head>
<body>
  <section>
    <div class="main">
      <img src="{{ url_for('static', filename='photo/35c7c8728b6c339d62f7996c2a9543c2.jpg')}}" alt="#" class="ayaka">
     <strong>id:</strong>{{ current_user.id }}<rb/>
     <strong>name:</strong>{{ current_user.name }}<rb/>
     <strong>email:</strong>{{ current_user.email }}<rb/>
     <a href="{{ url_for('log_out' )}}"><button class="log_out"><h2>logout</h2></button></a>
    </div>
   
  </section> 
  
</body>
</html>
