<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hy in your profil</title>
    <link
      href="{{ url_for('static', filename='css/style_profil.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <div class="main">
        <img
          src="{{ url_for('static', filename='photo/73dbc1990dc1243bc1c2e65358129cae.jpg')}}"
          alt="#"
          class="ayaka"
        />
        <div class="container">
          <div class="info">
            <img
              src="{{ url_for('static', filename='photo/73dbc1990dc1243bc1c2e65358129cae.jpg')}}"
              alt="#"
              class="ph"
            /><br />
            <div class="cntr">
              <p class="ppp">id:{{ current_user.id }}</p>
              <p class="ppp">name:{{ current_user.name }}</p>
              <p class="ppp">email:{{ current_user.email }}</p>
            </div>
          </div>
          <div class="info2">
            <!--daigram-->
            <div class="skill">
              <div class="outer">
                <div class="inner">
                  <div id="number">{{ num }}</div>
                </div>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                width="180px"
                height="180px"
                data-count="{{ num }}"
              >
                <defs>
                  <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                  </linearGradient>
                </defs>
                <circle cx="90" cy="90" r="80" stroke-linecap="round" />
              </svg>
            </div>
          </div>
          <div class="info4">
            <p>nambert to do that you mise it:<strong>{{ j-i }}</strong></p>
            <br />
            <p>namber to do that you do it:<strong>{{ i }}</strong></p>
          </div>
          <div class="info3">
            <button id="drk">dark mode</button>
            <a href="{{ url_for('add_daily' )}}"
              ><button class="option">
                <h2><ion-icon name="add-circle-outline"></ion-icon></h2>
                <!--add daily-->
              </button></a
            >
            <a href="{{ url_for('archive' )}}">
              <button class="option">
                <h2><ion-icon name="albums-outline"></ion-icon></h2>
                <!--archive-->
              </button></a
            >
            <a href="{{ url_for('todo' )}}"
              ><button class="option">
                <h2><ion-icon name="list-outline"></ion-icon></h2>
                <!--all the to do-->
              </button></a
            >
            <a href="{{ url_for('home' )}}"
              ><button class="option">
                <h2><ion-icon name="home-outline"></ion-icon></h2>
                <!--home-->
              </button></a
            >
          </div>
        </div>
      </div>
      <a href="{{ url_for('log_out' )}}"
        ><button class="log_out">
          <h2>logout<ion-icon name="log-out-outline"></ion-icon></h2></button
      ></a>
    </section>
    <script src="{{ url_for('static', filename='js/profil.js')}}"></script>
    <script src="{{ url_for('static', filename='js/darkmode.js')}}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
