<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="c:\Users\HP\projet\static\css\style_add_daily.css" rel="stylesheet" />
  </head>
  <body>
    <section>
      <div class="container">
        <form method="POST">
          <div class="add">
            <h3>title</h3>
            <input class="btnadd"></button>
          </div>
          <div class="add">
            <h3>date</h3>
            <input class="btnadd"></button>
          </div>
          <div class="add">
            <h3>hour</h3>
            <input class="btnadd"></button>
          </div>
          <div class="add">
            <h3>min</h3>
            <input class="btnadd"></button>
          </div>
          <div class="addtxt">
            <h3>title</h3>
            <input class="btntxt"></button>
          </div>
          <button class="btn"></button>
        </form>
      </div>
    </section>
    <script src="add_daily.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
