<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="cntr">
      <form action="/test" method="post">
        <div class="inputbox">
          {{ form.name() }}
          <label for="name">name</label>
        </div>
        <div class="inputbox">
          {{ form.email() }}
          <label for="email">email</label>
        </div>
        {{ form.submit( class=sbmt ) }}
      </form>
    </div>
  </body>
</html>
