<!DOCTYPE html>
<html>
  <head>
    <title>your to do list</title>
    <link rel="website icon" type="png" href="" />
    <link
      href="{{ url_for('static', filename='css/style_todo.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <div class="container">
        <div class="todo">
          <div class="cherche">
            <form action="{{ url_for('todo') }}" method="get">
              <input
                type="text"
                name="query"
                placeholder="{{'Search' if not search_query else search_query }}"
                id="nav"
              />
              <input type="submit" value="Search" id="bt1" />
            </form>
            <button id="drk">dark mode</button>
          </div>
          <div class="main">
            <ul>
              <ul>
                {% for result in results %} {% if (result.date_to_do.date() >
                date) or( (result.date_to_do.date() == date) and
                (result.hour_to_do > hour or hour == result.hour_to_do) ) %}{%
                if result.val == '0' %}
                <div
                  class="todo_con {{ 'Highest' if result.pre == '1' else 'Medium' if result.pre == '2' else 'Normal' if result.pre == '3' else '' }}"
                >
                  <h3 class="hhr">{{ result.title }}</h3>
                  <a
                    href="{{ url_for('delete_task', task_id=result.id) }}"
                    class="dlt1"
                    ><button class="dlt2">Delete</button></a
                  >
                  <div class="tkc">
                    <button class="do">
                      <ion-icon name="checkmark-outline"
                        ><p class="hid" id="id">{{ result.id }}</p></ion-icon
                      >
                    </button>
                  </div>
                  <p class="hid" id="dat">{{ result.date_to_do.date() }}</p>
                  <p class="hid" id="txt">{{ result.text }}</p>
                  <p class="hid" id="hour">{{ result.hour_to_do }}</p>
                  <p class="hid" id="datd">{{ result.datenow.date() }}</p>
                  <p class="hid" id="pre">{{ result.pre }}</p>
                  <p class="hid" id="id">{{ result.id }}</p>
                </div>
                {% endif %} {% endif %} {% endfor %}
              </ul>
            </ul>
            {% if not search_query %} {% for daily in dailys %} {% if
            (daily.date_to_do.date() > date) or ( (daily.date_to_do.date() ==
            date) and (daily.hour_to_do > hour or hour == daily.hour_to_do) ) %}
            {% if daily.val == '0' %}
            <div
              class="todo_con {{ 'Highest' if daily.pre == '1' else 'Medium' if daily.pre == '2' else 'Normal' if daily.pre == '3' else '' }}"
            >
              <h3 id="hh">{{ daily.title }}</h3>
              <a
                href="{{ url_for('delete_task', task_id=daily.id) }}"
                class="dlt1"
                ><button class="dlt2">Delete</button></a
              >
              <div class="tkc">
                <button class="do">
                  <ion-icon name="checkmark-outline"
                    ><p class="hid" id="id">{{ daily.id }}</p></ion-icon
                  >
                </button>
              </div>
              <form action="/todo"></form>
              <p class="hid" id="dat">{{ daily.date_to_do.date() }}</p>
              <p class="hid" id="txt">{{ daily.text }}</p>
              <p class="hid" id="hour">{{ daily.hour_to_do }}</p>
              <p class="hid" id="datd">{{ daily.datenow.date() }}</p>
              <p class="hid" id="pre">{{ daily.pre }}</p>
              <p class="hid" id="id">{{ daily.id }}</p>
            </div>
            {% endif %} {% endif %} {% endfor %}{% endif %}
          </div>
        </div>
        <div class="todof">
          <div class="inf">
            <div id="tit">
              <h3 id="titl"></h3>
            </div>
            <div class="conf">
              <div class="tff" id="f1">date do</div>
              <div class="tff" id="f2">hour do</div>
              <div class="tff" id="f3">date creat</div>
            </div>
            <div class="con">
              <div class="tf" id="m1"></div>
              <div class="tf" id="m2"></div>
              <div class="tf" id="m3"></div>
            </div>
            <h2 id="det">details:</h2>
            <p id="txt1"></p>
          </div>
          <div class="navb">
            <a href="{{ url_for('add_daily' )}}"
              ><button class="option">
                <h2><ion-icon name="add-circle-outline"></ion-icon></h2>
                <!--add daily-->
              </button></a
            >
            <a href="{{ url_for('archive' )}}">
              <button class="option">
                <h2><ion-icon name="albums-outline"></ion-icon></h2>
                <!--archive-->
              </button>
            </a>
            <a href="{{ url_for('todo' )}}"
              ><button class="option">
                <h2><ion-icon name="list-outline"></ion-icon></h2>
                <!--all the to do-->
              </button>
            </a>
            <a href="{{ url_for('home' )}}"
              ><button class="option">
                <h2><ion-icon name="home-outline"></ion-icon></h2>
                <!--home-->
              </button>
            </a>
          </div>
        </div>
        <!---->
      </div>
    </section>
    <script src="{{ url_for('static', filename='js/todo.js')}}"></script>
    <script src="{{ url_for('static', filename='js/darkmode.js')}}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
